html,
body {
	padding: 0;
	margin: 0;
	font-variation-settings: "wdth" 100;
	font-weight: 300;
	font-optical-sizing: auto;
	color: var(--black);
	background: #F5F6F8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--black: #38434E;
	--white: white;
	--primary: #7653FC;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
